{% extends 'base.html' %}

{% block title %}Create Recipe{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Create a New Recipe</h1>
    <!-- Display flash error messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Recipe creation form - multipart because there's text and a file sent in the request-->
    <form id="create-recipe-form" action="{{ url_for('create_recipe') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Recipe Title:</label>
            <input type="text" name="title" id="title" class="form-control" required>
        </div>
    
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" id="description" class="form-control" required></textarea>
        </div>
    
        <div class="form-group">
            <label for="ingredients">Ingredients:</label>
            <textarea name="ingredients" id="ingredients" class="form-control" required></textarea>
        </div>
    
        <div class="form-group">
            <label for="category_id">Category:</label>
            <select name="category_id" id="category_id" class="form-control" required>
                <option value="" disabled selected>Select a category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div class="form-group">
            <label for="image">Upload Image:</label>
            <input type="file" name="image" id="image" class="form-control" accept="image/*" required>
        </div>
    
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create Recipe</button>
        </div>
    </form>
    
</div>
{% endblock %}
